In [2]:
import pandas as pd
import scipy.stats as stats
import numpy as np
import pingouin as pg
import semopy as sem
from semopy import ModelMeans
from semopy import report
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
# from ydata_profiling.utils.cache import cache_file
# from ydata_profiling import ProfileReport

In [3]:

# raw = pd.read_csv('SUMANTI-06052024-renamed.csv')
raw = pd.read_csv('SUMANTI-09052024-136res.csv')
# raw.columns[3:]
# np.unique(raw.loc[:,'X111':'Y224'],return_counts=True)
# numeric = raw.loc[:,'X111':'Y224'] 
# np.unique(raw)
raw.head()

,Timestamp,Nama Anda,Instansi/Unit Kerja Anda,X111,X112,X113,X114,X115,X121,X122,...,Y214,Y215,Y216,Y217,Y218,Y219,Y221,Y222,Y223,Y224
0,21/03/2024 22:36:05,Yusnita.S.Sos.MM,Sekertariat Daerah Kab.konawe,Sangat Setuju,Sangat Setuju,Sangat Setuju,Netral,Sangat Setuju,Sangat Setuju,Setuju,...,Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju
1,21/03/2024 22:56:41,Miharudin Haris.S.Sos,Bagian Keuangan Setda Kab. Konawe,Setuju,Setuju,Setuju,Sangat Setuju,Setuju,Sangat Setuju,Sangat Setuju,...,Sangat Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Sangat Setuju
2,21/03/2024 22:58:36,Widia sastrawati,SETDA KAB. KONAWE,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju,Netral,Setuju,Setuju,...,Netral,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju
3,21/03/2024 23:23:15,Ari masud,Setda,Sangat Setuju,Tidak Setuju,Setuju,Sangat Setuju,Setuju,Setuju,Setuju,...,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Sangat Setuju,Setuju,Sangat Setuju
4,21/03/2024 23:50:50,"Jumran, sh",Bagian hukum setda kab konawe,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,...,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju

In [4]:
# np.unique(raw.loc[:,'X111':'Y224'],return_counts=True)
raw41 = pd.read_excel('sumanti-41.xlsx')
raw41.head()

,Timestamp,Jenis Kelamin,Tingkat Pendidikan,Usia (tahun),Rutinitas ditempat kerja dilakukan secara teratur,Unit kerja saya memiliki fasilitas kerja yang memenuhi harapan kenyamanan,Di unit kerja kami terdapat aturan yang jelas untuk diikuti,Di unit kerja terdapat keseimbangan antara pekerjaan dengan kehidupan pribadi,System insentif ditempat kerja memberikan kenyamanan,Saya memiliki keterampilan teknis dalam melaksanakan pekerjaan,...,Saya berani mengambil risiko dalam menyelesaikan hal yang baru,Saya menunjukkan kreativitas pada pekerjaan ketika diberi kesempatan,Saya memiliki ide-ide baru yang inovatif,Selalu muncul solusi kreatif untuk menangani masalah,Saya memiliki pendekatan baru terhadap penanganan masalah,Saya menyarankan cara-cara baru dalam melakukan tugas,ide-ide baru yang saya tuangkan dapat meningkatkan kinerja pegawai,ide kreatif saya berguna bagi pegawai,Saya mempromosikan ide kepada orang lain,Saya mengembangkan rencana yang memadai untuk implementasi ide-ide baru
0,2024-01-24 07:46:24.336,Laki-Laki,S1,31 - 40,Setuju,Netral,Setuju,Netral,Netral,Setuju,...,Netral,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju
1,2024-01-25 12:55:32.505,Perempuan,S2,41 - 50,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,...,Setuju,Setuju,Setuju,Setuju,Setuju,Setuju,Sangat Setuju,Setuju,Setuju,Setuju
2,2024-01-25 13:06:26.241,Laki-Laki,S1,31 - 40,Setuju,Setuju,Setuju,Setuju,Setuju,Sangat Setuju,...,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju,Sangat Setuju
3,2024-01-25 14:15:25.472,Laki-Laki,S1,31 - 40,Setuju,Setuju,Sangat Setuju,Setuju,Netral,Setuju,...,Netral,Setuju,Netral,Setuju,Setuju,Netral,Netral,Setuju,Netral,Setuju
4,2024-01-25 14:21:52.295,Laki-Laki,S1,21 - 30,Sangat Setuju,Sangat Setuju,Setuju,Sangat Setuju,Setuju,Netral,...,Netral,Sangat Setuju,Sangat Setuju,Setuju,Sangat Setuju,Setuju,Sangat Setuju,Setuju,Setuju,Sangat Setuju

In [5]:
jk = np.unique(raw41['Jenis Kelamin'],return_counts=True)
dict(zip(jk[0],jk[1]))

{'Laki-Laki': 17, 'Perempuan': 23}

In [6]:
ut = np.unique(raw41['Usia (tahun)'],return_counts=True)
dict(zip(ut[0],ut[1]))

{'21 - 30': 4, '31 - 40': 16, '41 - 50': 16, 'Diatas 50': 4}

In [7]:
tpi = np.unique(raw41['Tingkat Pendidikan'],return_counts=True)
dict(zip(tpi[0],tpi[1]))

{'DIPLOMA': 1, 'S1': 32, 'S2': 2, 'SMU': 5}

In [8]:
num = raw.loc[:,'X111':'Y224']
col = num.columns
num = np.select([
    num=='Sangat Setuju',
    num=='Setuju',
    num=='Netral',
    num=='Tidak Setuju',
    num=='Sangat Tidak Setuju'
    ],[5,4,3,2,1],np.nan)
df = pd.DataFrame(num,columns=col)
df.fillna(inplace=True,method='ffill')

np.unique(df,return_counts=True)
df.shape

(131, 50)

In [9]:
vld = pd.DataFrame(index=df.loc[:,"X111":"Y224"].columns, columns=['R','against'])
df['AvX11'] = df.loc[:,"X111":"X115"].mean(axis=1).round(2)
df['AvX12'] = df.loc[:,"X121":"X128"].mean(axis=1).round(2)
df['AvX13'] = df.loc[:,"X131":"X136"].mean(axis=1).round(2)

df['AvX21'] = df.loc[:,"X211":"X213"].mean(axis=1).round(2)
df['AvX22'] = df.loc[:,"X221":"X223"].mean(axis=1).round(2)
df['AvX23'] = df.loc[:,"X231":"X233"].mean(axis=1).round(2)
df['AvX24'] = df.loc[:,"X241":"X243"].mean(axis=1).round(2)

df['AvY11'] = df.loc[:,"Y111":"Y113"].mean(axis=1).round(2)
df['AvY12'] = df.loc[:,"Y121":"Y123"].mean(axis=1).round(2)
df['AvY21'] = df.loc[:,"Y211":"Y219"].mean(axis=1).round(2)
df['AvY22'] = df.loc[:,"Y221":"Y224"].mean(axis=1).round(2)


for i in vld.index:
    vld.loc[i,"R"] = round( stats.pearsonr(df[i], df[f'Av{i[:3]}'])[0],3) 
    vld.loc[i,"against"] = f'Av{i[:3]}'
vld.to_excel('validitas_kor_koef_per_item.xlsx')
# vld.head()

In [10]:
df.to_csv('cleaned_dataset.csv',index=False)
# df.columns

In [11]:
# df.corr().round(2).style.background_gradient(cmap='YlGn').to_excel("correlation.xlsx")   
df.loc[:,'X111':'Y224'].corr().round(2).style.background_gradient(cmap='YlGn').to_excel("Kolerasi-semua-item.xlsx")

In [12]:
# for smartPLS
df.to_csv('with_avg')
to_csv = df.loc[:,'X111':'Y224'].astype(int)
to_csv.to_csv('with_avg_int.csv',index=False)

In [13]:
df.head()

,X111,X112,X113,X114,X115,X121,X122,X123,X124,X125,...,AvX12,AvX13,AvX21,AvX22,AvX23,AvX24,AvY11,AvY12,AvY21,AvY22
0,5.0,5.0,5.0,3.0,5.0,5.0,4.0,4.0,5.0,5.0,...,4.50,4.83,5.00,4.67,4.00,4.67,4.33,4.67,4.78,5.00
1,4.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,...,4.75,5.00,5.00,5.00,4.33,4.67,4.67,4.00,4.33,4.25
2,5.0,5.0,5.0,5.0,3.0,4.0,4.0,4.0,4.0,5.0,...,4.38,4.33,3.67,3.67,4.00,4.00,4.00,4.00,3.89,4.00
3,5.0,2.0,4.0,5.0,4.0,4.0,4.0,4.0,5.0,5.0,...,4.62,4.17,5.00,4.00,4.00,4.00,4.67,5.00,4.33,4.50
4,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.00,4.17,4.33,4.00,4.00,4.00,4.00,4.00,4.00,4.00

In [14]:
df.loc[:,'X111':'X115'].corr().style.background_gradient(cmap ='YlGn').to_excel('kor-indikator-kenyamanan-X11.xlsx')

In [15]:
df.loc[:,'X121':'X128'].corr().style.background_gradient(cmap ='YlGn').to_excel("kor-indikator-Kompetensi-X12.xlsx")

In [16]:

df.loc[:,'X131':'X136'].corr().style.background_gradient(cmap ='YlGn').to_excel("kor-indikator-Status-X13.xlsx")

In [17]:
df.loc[:,'X211':'X213'].corr().style.background_gradient(cmap ='YlGn').to_excel("kor-indikator-Budaya-Kelompok-X21.xlsx")

In [18]:
df.loc[:,'X221':'X223'].corr().style.background_gradient(cmap ='YlGn').to_excel("kor-indikator-Budaya-Adhokrasi-X22.xlsx")

In [19]:
df.loc[:,'X231':'X233'].corr().style.background_gradient(cmap ='YlGn').to_excel("kor-indikator-Budaya-Rasional-X23.xlsx")

In [20]:
df.loc[:,'X241':'X243'].corr().style.background_gradient(cmap ='YlGn').to_excel("kor-indikator-Budaya-Hirarki-X24.xlsx")

In [21]:
df.loc[:,'Y111':'Y113'].corr().style.background_gradient(cmap ='YlGn').to_excel("kor-indikator-Intensitas-Y11.xlsx")

In [22]:
df.loc[:,'Y121':'Y123'].corr().style.background_gradient(cmap ='YlGn').to_excel("kor-indikator-Kualitas-Y12.xlsx")

In [23]:
df.loc[:,'Y211':'Y219'].corr().style.background_gradient(cmap ='YlGn').to_excel("kor-indikator-Kebaruan-Y21.xlsx")

In [24]:
df.loc[:,'Y221':'Y224'].corr().style.background_gradient(cmap ='YlGn').to_excel("kor-indikator-Kegunaan-Y22.xlsx")

In [25]:
# X23 = df.corr().loc['Y221':'Y224','Y221':'Y224'].style.background_gradient(cmap ='YlGn').set_properties(**{'font-size': '20px'}).set_caption("Budaya Rasional X23") 
# X23

In [26]:
#Validity
long_table = df.corr().stack().reset_index()
long_table.columns = ['var1','var2','korelasi']


def filter_rows(row):
    if row['var1'][:3] != row['var2'][:3]:
        return False
    elif row['var1'] == row['var2']:
        return False
    return True

validity = long_table[long_table.apply(filter_rows, axis=1)]
# validity
#validity.style.set_caption('VALIDITAS')
# validity.style.background_gradient(cmap ='YlGn').set_properties(**{'font-size': '20px'}).set_caption("Validitas")

In [27]:
#Reliabilitas

#Nilai Kerja
##Kenyamanan
X11 = df.loc[:,'X111':'X115'] 
##Kompetensi
X12 = df.loc[:,'X121':'X128']
##Status
X13 = df.loc[:,'X131':'X136']

X1 = df.loc[:,'X111':'X136']

#Budaya Organisasi
##Budaya Kelompok
X21 = df.loc[:,'X211':'X213']
##Budaya Adhokrasi
X22 = df.loc[:,'X221':'X223']
##Budaya Rasional
X23 = df.loc[:,'X231':'X233']
##Budaya Hirarki
X24 = df.loc[:,'X241':'X243']
X2 = df.loc[:,'X211':'X243']

#Sharing Pengetahuan
##Intensitas 
Y11 = df.loc[:,'Y111':'Y113']
##Kualitas
Y12 = df.loc[:,'Y121':'Y123']
Y1 = df.loc[:,'Y111':'Y123']

#Kreatifitas Pegawai
##Kebaruan
Y21 = df.loc[:,'Y211':'Y219']
##Kegunaan
Y22 = df.loc[:,'Y221':'Y224']

Y2 = df.loc[:,'Y211':'Y224']

alldf = [X11,X12,X13,X21,X22,X23,X24,Y11,Y12,Y21,Y22]
allcolumn = ['X11 Kenyamanan','X12 Kompetensi','X13 Status',
          'X21 Budaya Kelompok','X22 Budaya Adhokrasi','X23 Budaya Rasional','X24 Budaya Hirarki',
          'Y11 Intensitas','Y12 Kualitas',          
          'Y21 Kebaruan','Y22 Kegunaan' ]
# varnames = ['X11','X12','X13','X21','X22',]

alldf2 = [X11,X12,X13,X1,
          X21,X22,X23,X24,X2,
          Y11,Y12,Y1,
          Y21,Y22,Y2]
allcolumn2 = ['X11 Kenyamanan','X12 Kompetensi','X13 Status', 'X1 Nilai Kerja',
          'X21 Budaya Kelompok','X22 Budaya Adhokrasi','X23 Budaya Rasional','X24 Budaya Hirarki','X2 Budaya Organisasi',
          'Y11 Intensitas','Y12 Kualitas','Y1 Sharing Pengetahuan',          
          'Y21 Kebaruan','Y22 Kegunaan','Y2 Kreativitas Pegawai' ]

In [28]:
# len(alldf2),len(allcolumn2)
reliability = pd.DataFrame({'var':allcolumn2,'alpha':[pg.cronbach_alpha(i)[0] for i in alldf2]})
reliability['avg'] = [np.mean(np.mean(i)) for i in alldf2] 
reliability.to_excel('avg_alpha.xlsx',index=False)

In [29]:
# x = np.unique(X11,return_counts=True)
# x[1][np.where(x[0] == 2)[0][0]]

def getIt(x,i):
 y= [np.where(x[0] == i)]
 z = x[1][y][0][0]
 return 0 if len(z) == 0 else z[0]

def getPercentage(x,i):
 y = [np.where(x[0] == i)]
 z = x[1][y][0][0]
 c = 0 if len(z) == 0 else z[0]
 return round(c / np.sum(x[1]) *100,2)

for d in range(1,6):
 reliability[d] = [getIt(np.unique(i,return_counts=True),d) for  i  in alldf2]
 reliability[f'{d} -%'] =  [getPercentage(np.unique(i,return_counts=True),d) for  i  in alldf2]  
# [[getIt(np.unique(i,return_counts=True),d) for  i  in alldf] for d in range(1,6)]
# [getIt(np.unique(i,return_counts=True)) for  i  in alldf]
# [1,2,3]

reliability['avg']  = [round(np.mean(np.mean(d)),2) for d in alldf2]

# reliability[:4]
reliability

,var,alpha,avg,1,1 -%,2,2 -%,3,3 -%,4,4 -%,5,5 -%
0,X11 Kenyamanan,0.786081,4.27,2,0.31,13,1.98,70,10.69,288,43.97,282,43.05
1,X12 Kompetensi,0.937938,4.28,0,0.00,5,0.48,109,10.40,521,49.71,413,39.41
2,X13 Status,0.907853,4.39,0,0.00,5,0.64,43,5.47,380,48.35,358,45.55
3,X1 Nilai Kerja,0.953178,4.31,2,0.08,23,0.92,222,8.92,1189,47.77,1053,42.31
4,X21 Budaya Kelompok,0.897750,4.41,0,0.00,3,0.76,20,5.09,184,46.82,186,47.33
5,X22 Budaya Adhokrasi,0.799194,4.37,0,0.00,3,0.76,33,8.40,174,44.27,183,46.56
6,X23 Budaya Rasional,0.688022,4.22,3,0.76,13,3.31,41,10.43,174,44.27,162,41.22
7,X24 Budaya Hirarki,0.888341,4.39,0,0.00,1,0.25,22,5.60,191,48.60,179,45.55
8,X2 Budaya Organisasi,0.932448,4.35,3,0.19,20,1.27,116,7.38,723,45.99,710,45.17
9,Y11 Intensitas,0.716189,4.24,3,0.76,10,2.54,22,5.60,211,53.69,147,37.40
10,Y12 Kualitas,0.888104,4.27,0,0.00,2,0.51,29,7.38,224,57.00,138,35.11
11,Y1 Sharing Pengetahuan,0.875783,4.26,3,0.38,12,1.53,51,6.49,435,55.34,285,36.26
12,Y21 Kebaruan,0.930433,4.20,4,0.34,18,1.53,161,13.66,552,46.82,444,37.66
13,Y22 Kegunaan,0.886260,4.22,2,0.38,5,0.95,77,14.69,232,44.27,208,39.69
14,Y2 Kreativitas Pegawai,0.953161,4.21,6,0.35,23,1.35,238,13.98,784,46.04,652,38.29

In [30]:
# reliability[4:9]

In [31]:
rerata = pd.DataFrame(df.columns, index= df.columns)
for d in range(1,6):
 for col in df.columns:
  rerata.at[col,d] = np.count_nonzero(df[col] == d)
  rerata.at[col,f'{d} -%'] = round(np.count_nonzero(df[col] == d) / len(df) *100,2)
  
for d in range(1,6):
  rerata[d] = rerata[d].astype(int)

for col in df.columns:
  rerata.at[col,'avg'] = round(np.mean(df[col]),2)
  
# x
# rerata['avg']  = [round(np.mean(d),2) for d in alldf]
# []

# pg.cronbach_alpha(df['X111'])
rerata_all = rerata.loc['X111':'Y224',:]
rerata_all.rename(columns={0:'var'},inplace=True)
rerata_all

/tmp/ipykernel_32318/3852923021.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rerata_all.rename(columns={0:'var'},inplace=True)

       var  1  1 -%   2  2 -%   3   3 -%   4   4 -%   5   5 -%   avg
X111  X111  0  0.00   2  1.53   3   2.29  59  45.04  67  51.15  4.46
X112  X112  2  1.53   5  3.82  12   9.16  58  44.27  54  41.22  4.20
X113  X113  0  0.00   0  0.00   5   3.82  53  40.46  73  55.73  4.52
X114  X114  0  0.00   2  1.53  24  18.32  61  46.56  44  33.59  4.12
X115  X115  0  0.00   4  3.05  26  19.85  57  43.51  44  33.59  4.08
X121  X121  0  0.00   2  1.53   8   6.11  65  49.62  56  42.75  4.34
X122  X122  0  0.00   1  0.76  17  12.98  64  48.85  49  37.40  4.23
X123  X123  0  0.00   1  0.76  14  10.69  73  55.73  43  32.82  4.21
X124  X124  0  0.00   0  0.00  19  14.50  64  48.85  48  36.64  4.22
X125  X125  0  0.00   0  0.00  21  16.03  59  45.04  51  38.93  4.23
X126  X126  0  0.00   1  0.76  15  11.45  60  45.80  55  41.98  4.29
X127  X127  0  0.00   0  0.00   4   3.05  69  52.67  58  44.27  4.41
X128  X128  0  0.00   0  0.00  11   8.40  67  51.15  53  40.46  4.32
X131  X131  0  0.00   0  0.00   4   3.05  70  53.44  57  43.51  4.40
X132  X132  0  0.00   0  0.00   0   0.00  62  47.33  69  52.67  4.53
X133  X133  0  0.00   1  0.76   6   4.58  57  43.51  67  51.15  4.45
X134  X134  0  0.00   2  1.53  16  12.21  54  41.22  59  45.04  4.30
X135  X135  0  0.00   1  0.76   9   6.87  78  59.54  43  32.82  4.24
X136  X136  0  0.00   1  0.76   8   6.11  59  45.04  63  48.09  4.40
X211  X211  0  0.00   2  1.53   7   5.34  49  37.40  73  55.73  4.47
X212  X212  0  0.00   1  0.76   7   5.34  65  49.62  58  44.27  4.37
X213  X213  0  0.00   0  0.00   6   4.58  70  53.44  55  41.98  4.37
X221  X221  0  0.00   1  0.76  12   9.16  71  54.20  47  35.88  4.25
X222  X222  0  0.00   0  0.00  15  11.45  61  46.56  55  41.98  4.31
X223  X223  0  0.00   2  1.53   6   4.58  42  32.06  81  61.83  4.54
X231  X231  0  0.00   1  0.76   5   3.82  66  50.38  59  45.04  4.40
X232  X232  0  0.00   2  1.53   3   2.29  62  47.33  64  48.85  4.44
X233  X233  3  2.29  10  7.63  33  25.19  46  35.11  39  29.77  3.82
X241  X241  0  0.00   1  0.76   5   3.82  60  45.80  65  49.62  4.44
X242  X242  0  0.00   0  0.00   7   5.34  70  53.44  54  41.22  4.36
X243  X243  0  0.00   0  0.00  10   7.63  61  46.56  60  45.80  4.38
Y111  Y111  0  0.00   2  1.53   4   3.05  75  57.25  50  38.17  4.32
Y112  Y112  0  0.00   2  1.53  10   7.63  68  51.91  51  38.93  4.28
Y113  Y113  3  2.29   6  4.58   8   6.11  68  51.91  46  35.11  4.13
Y121  Y121  0  0.00   2  1.53   7   5.34  80  61.07  42  32.06  4.24
Y122  Y122  0  0.00   0  0.00   7   5.34  75  57.25  49  37.40  4.32
Y123  Y123  0  0.00   0  0.00  15  11.45  69  52.67  47  35.88  4.24
Y211  Y211  0  0.00   1  0.76  11   8.40  69  52.67  50  38.17  4.28
Y212  Y212  0  0.00   1  0.76  16  12.21  63  48.09  51  38.93  4.25
Y213  Y213  0  0.00   1  0.76  17  12.98  61  46.56  52  39.69  4.25
Y214  Y214  4  3.05   8  6.11  34  25.95  49  37.40  36  27.48  3.80
Y215  Y215  0  0.00   1  0.76  11   8.40  64  48.85  55  41.98  4.32
Y216  Y216  0  0.00   2  1.53  19  14.50  60  45.80  50  38.17  4.21
Y217  Y217  0  0.00   3  2.29  17  12.98  60  45.80  51  38.93  4.21
Y218  Y218  0  0.00   1  0.76  16  12.21  66  50.38  48  36.64  4.23
Y219  Y219  0  0.00   0  0.00  20  15.27  60  45.80  51  38.93  4.24
Y221  Y221  0  0.00   1  0.76  16  12.21  62  47.33  52  39.69  4.26
Y222  Y222  0  0.00   0  0.00  20  15.27  52  39.69  59  45.04  4.30
Y223  Y223  2  1.53   4  3.05  18  13.74  61  46.56  46  35.11  4.11
Y224  Y224  0  0.00   0  0.00  23  17.56  57  43.51  51  38.93  4.21

In [32]:
# pd.concat([rerata_all[:5],reliability[:4]]).to_excel('rerata_X1.xlsx',index=False)

In [33]:
pd.concat([rerata_all[:5],
           reliability[0:1],
           rerata_all[5:13],
           reliability[1:2],
           rerata_all[13:19],
           reliability[2:4]
           ]).to_excel('rerata_X1.xlsx',index=False)

In [34]:
pd.concat([rerata_all[19:22],
           reliability[4:5],
           rerata_all[22:25],
           reliability[5:6],
           rerata_all[25:28],
           reliability[6:7],
           rerata_all[28:31],
           reliability[7:9]
           ]).to_excel('rerata_X2.xlsx',index=False)
# .to_excel('rerata_X1.xlsx')

In [35]:
pd.concat([rerata_all[31:34],
           reliability[9:10],
           rerata_all[34:37],
           reliability[10:12]
           ]).to_excel('rerata_Y1.xlsx',index=False)
# to_excel('rerata_Y1.xlsx',index=False)

In [36]:
pd.concat([rerata_all[37:46],
           reliability[12:13],
           rerata_all[46:50],
           reliability[13:15]
           ]).to_excel('rerata_Y2.xlsx',index=False)

In [37]:
# desc = '''  
# #pengukuran
# X11 =~ X111 + X112 + X113 + X114 + X115
# X12 =~ X121 + X122 + X123 + X124 + X125 +X126 + X127 + X128
# X13 =~ X131 + X132 + X133 + X134 + X135 + X136

# X21 =~ X211 + X212 + X213 
# X22 =~ X221 + X222 + X223 
# X23 =~ X231 + X232 + X233 
# X24 =~ X241 + X242 + X243 

# Y11 =~ Y111 + Y112 + Y113 
# Y12 =~ Y121 + Y122 + Y123

# Y21 =~ Y211 + Y212 + Y213 + Y214 + Y215 + Y216 + Y217 + Y218 + Y219
# Y22 =~ Y221 + Y222 + Y223 + Y224


# #struktural
# X1 =~ X11 + X12 + X13
# X2 =~ X21 + X22 + X23 + X24

# Y1 =~ Y11 + Y12
# Y2 =~ Y21 + Y22

# Y1 ~ X1 + X2
# Y2 ~ X1 + X2 + Y2
# '''

# model = sem.Model(desc)
# result = model.fit(df)
# estimate = model.inspect()
# sem.semplot(model,'model.png')
# result

In [38]:
# estimate.style.background_gradient(cmap='YlGn')

In [39]:
desc2 = ''' 
#pengukuran
#struktural
X1 =~ X111 + X112 + X113 + X114 + X115 + X121 + X122 + X123 + X124 + X125 + X126 + X127 + X128 + X131 + X132 + X133 + X134 + X135 + X136
X2 =~ X211 + X212 + X213 + X221 + X222 + X223 + X231 + X232 + X233 + X241 + X242 + X243 

Y1 =~ Y111 + Y112 + Y113 + Y121 + Y122 + Y123
Y2 =~ Y211 + Y212 + Y213 + Y214 + Y215 + Y216 + Y217 + Y218 + Y219 + Y221 + Y222 + Y223 + Y224

Y1 ~ X1 + X2
Y2 ~ X1 + X2 + Y2
'''

# model2 = sem.Model(desc2)
# result2 = model.fit(df)
# estimate2 = model.inspect()
# sem.semplot(model,'model2.png')
# result2

In [40]:
# estimate2.style.background_gradient(cmap='YlGn')

In [41]:
import plspm
from plspm.plspm import Plspm
import plspm.config as conf
from plspm.scheme import Scheme
from plspm.mode import Mode
from plspm.bootstrap import Bootstrap

In [42]:
# innerModel = conf.Structure()
# innerModel.add_path(["NK_X1"], ["SP_Y1", "KP_Y2"]) #ada tanda panah dari COMP ke CUSA dan CUSL
# innerModel.add_path(["SP_Y1"], ["KP_Y2"])
# innerModel.add_path(["BO_X2"], ["SP_Y1","KP_Y2"])

# outerModel = conf.Config(innerModel.path(), scaled=False)
# outerModel.add_lv_with_columns_named("NK_X1", Mode.A, df, "X1") #mengambil data column dengan nama yang diawali "comp_" sebagai data indikator var COMP
# outerModel.add_lv_with_columns_named("BO_X2", Mode.A, df, "X2")
# outerModel.add_lv_with_columns_named("SP_Y1", Mode.A, df, "Y1")
# outerModel.add_lv_with_columns_named("KP_Y2", Mode.A, df, "Y2")

innerModel = conf.Structure()
innerModel.add_path(["NK_X1"], ["SP_Y1", "KP_Y2"])
innerModel.add_path(["SP_Y1"], ["KP_Y2"])
innerModel.add_path(["BO_X2"], ["SP_Y1","KP_Y2"])

outerModel = conf.Config(innerModel.path(), scaled=False)
outerModel.add_lv_with_columns_named("NK_X1", Mode.A, df, "AvX1") #mengambil data column dengan nama yang diawali "comp_" sebagai data indikator var COMP
outerModel.add_lv_with_columns_named("BO_X2", Mode.A, df, "AvX2")
outerModel.add_lv_with_columns_named("SP_Y1", Mode.A, df, "AvY1")
outerModel.add_lv_with_columns_named("KP_Y2", Mode.A, df, "AvY2")




measure = Plspm(df, outerModel, Scheme.CENTROID)
path_measure = Plspm(df, outerModel, Scheme.PATH)
factorial_measure = Plspm(df, outerModel, Scheme.FACTORIAL)

In [43]:
udimen = measure.unidimensionality()
measure.unidimensionality().style.background_gradient(cmap='YlGn').to_excel('unidimensionality.xlsx')
udimen.to_clipboard()
udimen

      mode  mvs  cronbach_alpha  dillon_goldstein_rho   eig_1st   eig_2nd
BO_X2    A  4.0        0.911010              0.937522  3.158457  0.353450
NK_X1    A  3.0        0.907021              0.941688  2.530086  0.282564
SP_Y1    A  2.0        0.847353              0.929089  1.735137  0.264863
KP_Y2    A  2.0        0.940008              0.970878  1.886807  0.113193

In [44]:
reliabel = measure.outer_model()
reliabel.style.background_gradient(cmap='YlGn').to_excel('loading_outer_model.xlsx')
reliabel

         weight   loading  communality  redundancy
AvX11  0.645380  0.909419     0.827042    0.000000
AvX12  0.720555  0.914054     0.835495    0.000000
AvX13  0.682056  0.930690     0.866184    0.000000
AvX21  0.492463  0.858569     0.737141    0.000000
AvX22  0.503414  0.907170     0.822958    0.000000
AvX23  0.552759  0.911531     0.830889    0.000000
AvX24  0.425336  0.874118     0.764082    0.000000
AvY11  0.921988  0.931793     0.868238    0.591860
AvY12  0.970386  0.931073     0.866897    0.590946
AvY21  0.809995  0.967135     0.935349    0.732337
AvY22  0.849096  0.975168     0.950952    0.744553

In [45]:
cross_loading = measure.crossloadings()
cross_loading.style.background_gradient(cmap='YlGn').to_excel('crossloadings.xlsx')
cross_loading

          BO_X2     NK_X1     SP_Y1     KP_Y2
AvX11  0.739751  0.909419  0.689391  0.710190
AvX12  0.702329  0.914054  0.662401  0.864803
AvX13  0.850794  0.930690  0.741595  0.825472
AvX21  0.858569  0.702210  0.727934  0.689179
AvX22  0.907170  0.757979  0.756073  0.726147
AvX23  0.911531  0.764836  0.763459  0.730609
AvX24  0.874118  0.718181  0.613237  0.656829
AvY11  0.722275  0.671734  0.931793  0.638834
AvY12  0.789341  0.741340  0.931073  0.732606
AvY21  0.765421  0.877668  0.745356  0.967135
AvY22  0.771643  0.825774  0.688634  0.975168

In [75]:
inner_struct = measure.inner_model()
# inner_struct.style.background_gradient(cmap='YlGn').to_excel('inner_model_t_stat_.xlsx')
inner_struct.to_excel('inner_model_t_stat_.xlsx',float_format='%.15e')

In [47]:
structure_redundancy = measure.inner_summary()
structure_redundancy.style.background_gradient(cmap='YlGn').to_excel('r2_tipe_inner_model.xlsx')

In [48]:
goodness_fit = measure.goodness_of_fit()
f = open("goodness_of_fit.txt", "a")
f.write(f'{goodness_fit}')
f.close()
# goodness_fit

In [49]:
measure.effects().style.background_gradient(cmap='YlGn').to_excel('effects_direct_indirect.xlsx')
measure.effects()

                 from     to    direct  indirect     total
BO_X2 -> SP_Y1  BO_X2  SP_Y1  0.584196  0.000000  0.584196
BO_X2 -> KP_Y2  BO_X2  KP_Y2  0.147500  0.062725  0.210225
NK_X1 -> SP_Y1  NK_X1  SP_Y1  0.273833  0.000000  0.273833
NK_X1 -> KP_Y2  NK_X1  KP_Y2  0.671137  0.029401  0.700538
SP_Y1 -> KP_Y2  SP_Y1  KP_Y2  0.107369  0.000000  0.107369

In [50]:
measure.path_coefficients().style.background_gradient(cmap='YlGn').to_excel('koefisien_relasi.xlsx')
measure.path_coefficients()

          BO_X2     NK_X1     SP_Y1  KP_Y2
BO_X2  0.000000  0.000000  0.000000      0
NK_X1  0.000000  0.000000  0.000000      0
SP_Y1  0.584196  0.273833  0.000000      0
KP_Y2  0.147500  0.671137  0.107369      0

In [51]:
# b_measure = Plspm(df,outerModel,bootstrap=True,bootstrap_iterations=1500)

In [52]:
# b_measure.bootstrap().paths().style.background_gradient(cmap='YlGn').to_excel('bootstrap_koefisien_jalur.xlsx')
# b_measure.bootstrap().paths().to_clipboard()
# paths_bootstrap = b_measure.bootstrap().paths()
# paths_bootstrap['p-two-tail'] =  stats.t.sf( abs(paths_bootstrap['t stat.']),df=22 )*2
# paths_bootstrap['p-two-tail'] =  paths_bootstrap['t stat.']
# paths_bootstrap

In [53]:
# b_measure.bootstrap().loading().style.background_gradient(cmap='YlGn').to_excel('bootstrap_loading.xlsx')
# b_measure.bootstrap().loading()

In [54]:
# b_measure.bootstrap().weights().style.background_gradient(cmap='YlGn').to_excel('bootstrap_bobot.xlsx')
# b_measure.bootstrap().weights()

In [55]:
# b_measure.bootstrap().r_squared()

In [56]:
# b_measure.bootstrap().total_effects()
# b_measure.bootstrap().total_effects()

In [57]:
measure.path_coefficients()

          BO_X2     NK_X1     SP_Y1  KP_Y2
BO_X2  0.000000  0.000000  0.000000      0
NK_X1  0.000000  0.000000  0.000000      0
SP_Y1  0.584196  0.273833  0.000000      0
KP_Y2  0.147500  0.671137  0.107369      0

In [58]:
# pd.options.display.float_format = '{:.3G}'.format
measure.inner_model().to_clipboard()

In [59]:
# b_measure.bootstrap().weights()

In [74]:
measure.inner_model() 
measure.inner_model().to_csv('p_value.csv')

In [61]:
# b_measure.bootstrap().weights()

In [62]:
measure.outer_model()

         weight   loading  communality  redundancy
AvX11  0.645380  0.909419     0.827042    0.000000
AvX12  0.720555  0.914054     0.835495    0.000000
AvX13  0.682056  0.930690     0.866184    0.000000
AvX21  0.492463  0.858569     0.737141    0.000000
AvX22  0.503414  0.907170     0.822958    0.000000
AvX23  0.552759  0.911531     0.830889    0.000000
AvX24  0.425336  0.874118     0.764082    0.000000
AvY11  0.921988  0.931793     0.868238    0.591860
AvY12  0.970386  0.931073     0.866897    0.590946
AvY21  0.809995  0.967135     0.935349    0.732337
AvY22  0.849096  0.975168     0.950952    0.744553

In [63]:
measure.inner_summary().to_excel("ave_r_squared.xlsx")
measure.inner_summary()

,type,r_squared,r_squared_adj,block_communality,mean_redundancy,ave
BO_X2,Exogenous,0.000000,0.000000,0.788767,0.000000,0.788767
KP_Y2,Endogenous,0.782955,0.777828,0.943151,0.738445,0.943151
NK_X1,Exogenous,0.000000,0.000000,0.842907,0.000000,0.842907
SP_Y1,Endogenous,0.681680,0.676706,0.867568,0.591403,0.867568

In [64]:
measure.unidimensionality()

      mode  mvs  cronbach_alpha  dillon_goldstein_rho   eig_1st   eig_2nd
BO_X2    A  4.0        0.911010              0.937522  3.158457  0.353450
NK_X1    A  3.0        0.907021              0.941688  2.530086  0.282564
SP_Y1    A  2.0        0.847353              0.929089  1.735137  0.264863
KP_Y2    A  2.0        0.940008              0.970878  1.886807  0.113193

In [65]:
measure.goodness_of_fit()

0.7870763655642555

In [66]:
itemsInnerModel = conf.Structure()
itemsInnerModel.add_path(["NK_X1"], ["SP_Y1", "KP_Y2"]) #ada tanda panah dari COMP ke CUSA dan CUSL
itemsInnerModel.add_path(["SP_Y1"], ["KP_Y2"])
itemsInnerModel.add_path(["BO_X2"], ["SP_Y1","KP_Y2"])

itemsOuterModel = conf.Config(itemsInnerModel.path(), scaled=False)
itemsOuterModel.add_lv_with_columns_named("NK_X1", Mode.A, df, "X1") #mengambil data column dengan nama yang diawali "comp_" sebagai data indikator var COMP
itemsOuterModel.add_lv_with_columns_named("BO_X2", Mode.A, df, "X2")
itemsOuterModel.add_lv_with_columns_named("SP_Y1", Mode.A, df, "Y1")
itemsOuterModel.add_lv_with_columns_named("KP_Y2", Mode.A, df, "Y2")





itemsMeasure = Plspm(df, itemsOuterModel, Scheme.CENTROID)
# path_measure = Plspm(df, outerModel, Scheme.PATH)
# factorial_measure = Plspm(df, outerModel, Scheme.FACTORIAL)



# itemsMeasure = Plspm(df, outerModel, Scheme.CENTROID)
# measure.inner_model()

In [67]:
itemsMeasure.outer_model().to_excel('per_item_outer_loading.xlsx')

In [68]:
q_squared_model = 1-np.prod([1-i  for i in measure.inner_summary()['r_squared'] if i > 0]) 
q_squared_model

0.9309102704028575

In [79]:
measure.effects().to_excel('effects_direct_indirect.xlsx')

In [82]:
measure.outer_model().to_excel('outer_loading.xlsx')